<div class="relative rounded-xl backdrop-blur-xl bg-black/20 border border-neutral-500 px-3 py-4 shadow-sm focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
  <%= @form.label @data, @label, class:"absolute bg-neutral-200 px-2 rounded-md -top-2 left-2 -mt-px inline-block text-xs font-bold text-black" %>
  <%= @form.send(@type, @data, class: "block bg-transparent w-full border-0 p-0 text-neutral-300 placeholder-gray-500 focus:ring-0 sm:text-sm", placeholder: @placeholder) %>
</div>