<div class="relative" id=<%= dom_id(export) %>>
<% if export.filename.present?%>
  <%= video_tag(export.filename.url + "?v=#{export.updated_at.to_i}", autoplay: :autoplay, loop: :loop, muted: :muted, class: "w-full", ) %>
  <div class="absolute top-0 left-0 font-bold text-black bg-white p-2 rounded-br-lg">
    <%= SqidsService.new([ export.session.id ]).call %>
  </div>
<% end %>
</div>